
# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.idea
.DS_Store

.testsecret
.env.cypress
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# graphql.config.json

cypress/integration/examples/*.js
cypress/fixtures/example.json
cypress/screenshots/**/*.png
cypress/videos/**/*.mp4
